* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 250px; 
  background-color: #fff;
  border-right: 1px solid #ddd;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  z-index: 1000;
}

.logo {
  padding: 20px 30px;
}

.logo img {
  max-width: 100%;
  height: auto;
}

.sidebar ul {
  list-style: none;
  width: 100%;
  padding: 0;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.sidebar ul li {
  width: 100%;
}

.link {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 12px 24px;
  font-size: 16px;
  color: #282828;
  background: none;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.link i {
  font-size: 20px;
  margin-right: 15px; 
  min-width: 20px;
}

.sidebar ul li:hover,
.active {
  background-color: #F4F4F4;
}

.active {
  font-weight: bold;
}
.profileIcon {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}
