*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.stories{
    width: 100%;
    padding: 50px 10px;
    text-align: center;
}
.posts{
    width: 420px;
    height: 500px;
}

.userInfo {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 8px;
}

.profilePic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.username {
  font-weight: bold;
  margin-top: 10px;
}

.postImage {
  width: 100%;
  max-height: 400px;
  object-fit: cover;
}
